<template>
 <div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"><i :class="icon"></i></span>
    </div> 
    <label :for="id"></label>
        <select class="form-control" :name="name" :id="id">
            <option value=""> {{ placeHolder }} </option>
        </select>
        <div class="input-group-append">
            <span class="input-group-text">
            <i class="ni ni-bold-down"></i>
            </span>
        </div>
    </div>
</template>
<script>

  export default {
    name: 'base-select',
    props: {
      name: String,
      id  : String,
      icon: String,
      placeHolder: String, 
    }
  };
</script>
<style>
select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
</style>
