<template>
 <div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div> 
        <input aria-describedby="addon-right addon-left" :placeholder="placeHolder" class="form-control"> 
    </div>
</template>
<script>

  export default {
    name: 'search-bar',
    props: {
      search: {
        keyword: String,
      },
      icon: String,
      placeHolder: String,
    }
  };
</script>
<style></style>
