<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <!-- Card stats -->
      <div class="row">
        <tabs fill class="col-12 flex-column flex-md-row">
          <card shadow>
            <tab-pane>
              <span slot="title">
                <i class="ni ni-cloud-upload-96" />
                Nhà
              </span>
              <div class="table">
                <div class="row">
                  <div class="col">
                    <house-table title="Nhà">
                      <template v-slot:province>
                        <base-select
                          icon="ni ni-pin-3"
                          name="province"
                          id="province"
                          placeHolder="Tỉnh/Thành phố"
                        ></base-select>
                      </template>
                      <template v-slot:district>
                        <base-select
                          icon="ni ni-pin-3"
                          name="district"
                          id="district"
                          placeHolder="Quận/huyện"
                        ></base-select>
                      </template>
                      <template v-slot:ward>
                        <base-select
                          icon="ni ni-pin-3"
                          name="ward"
                          id="ward"
                          placeHolder="Phường xã"
                        ></base-select>
                      </template>
                      <template v-slot:SearchBar>
                        <search-bar placeHolder="Search..."></search-bar>
                      </template>
                    </house-table>
                  </div>
                </div>
              </div>
            </tab-pane>

            <tab-pane title="Profile">
              <span slot="title">
                <i class="ni ni-bell-55 mr-2" />
                Phòng
              </span>
              <div class="container">
                <div class="row">
                  <div class="col-6 mb-2">
                    <div class="box-room border border-primary">ROOM 1</div>
                  </div>
                  <div class="col-6 mb-2">
                    <div class="box-room border border-primary">ROOM 1</div>
                  </div>
                  <div class="col-6 mb-2">
                    <div class="box-room border border-primary">ROOM 1</div>
                  </div>
                  <div class="col-6 mb-2">
                    <div class="box-room border border-primary">ROOM 1</div>
                  </div>
                  <div class="col-6 mb-2">
                    <div class="box-room border border-primary">ROOM 1</div>
                  </div>
                  <div class="col-6 mb-2">
                    <div class="box-room border border-primary">ROOM 1</div>
                  </div>
                </div>
              </div>
            </tab-pane>

            <tab-pane>
              <span slot="title">
                <i class="ni ni-calendar-grid-58" />
                Hợp đồng
              </span>
              <p class="description">
                Raw denim you probably haven't heard of them jean shorts Austin.
                Nesciunt tofu stumptown aliqua, retro synth master cleanse.
                Mustache cliche tempor, williamsburg carles vegan helvetica.
                Reprehenderit butcher retro keffiyeh dreamcatcher synth.
              </p>
            </tab-pane>
          </card>
        </tabs>
      </div>
    </base-header>

    <div class="container-fluid mt--7"></div>
  </div>
</template>
<script>
import HouseTable from "./Tables/HouseTable";
import SearchBar from "../components/SearchBar";
import BaseSelect from "../components/BaseSelect";
export default {
  mounted() {},
  components: {
    HouseTable,
    SearchBar,
    BaseSelect,
  },
};
</script>
<style>
.input-group-text:first-child {
  border-left: 2px solid;
}
</style>
