<template>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
                        <div class="btn-wrapper text-center">
                            <a href="#" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="img/icons/common/github.svg"></span>
                                <span class="btn-inner--text">Github</span>
                            </a>
                            <a href="#" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon"><img src="img/icons/common/google.svg"></span>
                                <span class="btn-inner--text">Google</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Or sign in with credentials</small>
                        </div>
                        <form @submit.prevent="authenticate">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Email"
                                        addon-left-icon="ni ni-email-83"
                                        v-model="form.username">
                            </base-input>

                            <base-input class="input-group-alternative"
                                        placeholder="Password"
                                        type="password"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="form.password">
                            </base-input>

                            <base-checkbox class="custom-control-alternative">
                                <span class="text-muted">Remember me</span>
                            </base-checkbox>
                            <div class="text-center">
                                <base-button  nativeType="submit" class="my-4">Sign in</base-button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <a href="#" class="text-light"><small>Forgot password?</small></a>
                    </div>
                    <div class="col-6 text-right">
                        <router-link to="/register" class="text-light"><small>Create new account</small></router-link>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
import { login } from "../helpers/auth";
  export default {
    name: 'login',
    data() {
      return {
        form: {
        username: "",
        password: ""
      },
      showLoading: false,
      type: "login",
      error: null
    }
    },
     methods: {
    authenticate() {
      this.$data.showLoading = true;
      this.$store.dispatch("LOGIN");
      login(this.$data.form)
        .then(res => {
          this.$store.commit("LOGIN_SUCCESS", res);
          this.$router.push({ path: "/dashboard" });
        })
        .catch(err => {
          this.$store.commit("LOGIN_FAILED", { err });
          alert(this.authError, "error");
          this.$data.showLoading = false;
        });
    }
  },
  computed: {
    authError() {
      return this.$store.getters.AUTH_ERROR;
    }
  }
  
  }
</script>
<style>
</style>
